# (Exploration and Visualization of Prosper loans)

## Patrick Ojunde

<!-- ## Preliminary Wrangling
 -->
## Table of Contents
<ul>
<li><a href="#introduce">Introduction</a></li>
<li><a href="#obj">Objective</a></li>
<li><a href="#wrangle">Data Wrangling</a></li>
<li><a href="#explore">Univariate exploration</a></li>
<li><a href="#bi">Bivariate exploration</a></li> 
<li><a href="#multi">Multivariate exploration</a></li>
<li><a href="#insights">Analysis Summary & Insights</a></li>  
<li><a href="#conclude">Conclusions</a></li>
</ul>

<a id='introduce'></a>

### Introduction

> The dataset is composed of  113,937 rows (uniquely idenifying a loan) and 81 variables that describes each loan some of which includes loan amount, borrower rate (or interest rate), current loan status, and borrower income.

> More information about this dataset can be found here: https://docs.google.com/spreadsheets/d/1gDyi_L4UvIrLTEC6Wri5nbaMmkGmLQBk-Yx3z0XDEtI/edit#gid=0

<a id='obj'></a>
    
### Objective
    
> The objective of this analysis and visualization activity is to come up with interesting and actionable insghts from the loan data

> We also want to identify what featrues are suitable for predicting the success of a loan application

>> Importing required libraries

In [126]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

<!-- > Load in your dataset and describe its properties through the questions below.
Try and motivate your exploration goals through this section. -->

In [127]:
df_main = pd.read_csv('prosperLoanData.csv')

In [128]:
df_main.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

<!-- ### What is the structure of your dataset? -->

### Exlpore qualitative and quantitive features of datasets

In [129]:
rows= df_main.shape[0]
columns = df_main.shape[1]
print(f'No of Rows: {rows}\nNo of Columns: {columns}')

No of Rows: 113937
No of Columns: 81

> Let us firstly have a look at our columns and determine which ones ware suitable for the objective of this analysis

In [130]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  object
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   object
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  object
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  object
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

> Not all the data features are useful for our analysis, so we would work with the following `23 features`

In [131]:
features_to_use = ['Term' , 
        'LoanStatus', 
        'EstimatedEffectiveYield' ,  
        'BorrowerAPR' , 
        'BorrowerRate' , 
        'ProsperRating (numeric)',
        'ProsperRating (Alpha)',
        'ProsperScore',                     
        'ListingCategory (numeric)', 
        'EmploymentStatus',
        'Occupation', 
        'EmploymentStatusDuration', 
        'IsBorrowerHomeowner', 
        'IncomeVerifiable', 
        'StatedMonthlyIncome', 
        'MonthlyLoanPayment',
        'Recommendations', 
        'DebtToIncomeRatio',
        'LoanOriginalAmount' ,
        'PercentFunded',
        'IncomeRange',
        'Investors',
        'BorrowerState']

> select the useful columns from the main dataframe

In [132]:
df_loan = df_main[features_to_use]
df_loan.head()

,Term,LoanStatus,EstimatedEffectiveYield,BorrowerAPR,BorrowerRate,ProsperRating (numeric),ProsperRating (Alpha),ProsperScore,ListingCategory (numeric),EmploymentStatus,...,IncomeVerifiable,StatedMonthlyIncome,MonthlyLoanPayment,Recommendations,DebtToIncomeRatio,LoanOriginalAmount,PercentFunded,IncomeRange,Investors,BorrowerState
0,36,Completed,NaN,0.16516,0.1580,NaN,NaN,NaN,0,Self-employed,...,True,3083.333333,330.43,0,0.17,9425,1.0,"$25,000-49,999",258,CO
1,36,Current,0.07960,0.12016,0.0920,6.0,A,7.0,2,Employed,...,True,6125.000000,318.93,0,0.18,10000,1.0,"$50,000-74,999",1,CO
2,36,Completed,NaN,0.28269,0.2750,NaN,NaN,NaN,0,Not available,...,True,2083.333333,123.32,0,0.06,3001,1.0,Not displayed,41,GA
3,36,Current,0.08490,0.12528,0.0974,6.0,A,9.0,16,Employed,...,True,2875.000000,321.45,0,0.15,10000,1.0,"$25,000-49,999",158,GA
4,36,Current,0.18316,0.24614,0.2085,3.0,D,4.0,2,Employed,...,True,9583.333333,563.97,0,0.26,15000,1.0,"$100,000+",20,MN

> Let perform some assement of the selcted features

In [133]:
rows = df_loan.shape[0]
cols= df_loan.shape[1]
print(f'New Row Size: {rows}\nNew Column Size {cols}')

New Row Size: 113937
New Column Size 23

In [134]:
df_loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 23 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Term                       113937 non-null  int64
 1   LoanStatus                 113937 non-null  object
 2   EstimatedEffectiveYield    84853 non-null   float64
 3   BorrowerAPR                113912 non-null  float64
 4   BorrowerRate               113937 non-null  float64
 5   ProsperRating (numeric)    84853 non-null   float64
 6   ProsperRating (Alpha)      84853 non-null   object
 7   ProsperScore               84853 non-null   float64
 8   ListingCategory (numeric)  113937 non-null  int64
 9   EmploymentStatus           111682 non-null  object
 10  Occupation                 110349 non-null  object
 11  EmploymentStatusDuration   106312 non-null  float64
 12  IsBorrowerHomeowner        113937 non-null  bool
 13  IncomeVerifiable           113937 non-null  bool
 14  StatedMonthlyIncome        113937 non-null  float64
 15  MonthlyLoanPayment         113937 non-null  float64
 16  Recommendations            113937 non-null  int64
 17  DebtToIncomeRatio          105383 non-null  float64
 18  LoanOriginalAmount         113937 non-null  int64
 19  PercentFunded              113937 non-null  float64
 20  IncomeRange                113937 non-null  object
 21  Investors                  113937 non-null  int64
 22  BorrowerState              108422 non-null  object
dtypes: bool(2), float64(10), int64(5), object(6)
memory usage: 18.5+ MB

In [135]:
df_loan.describe()

,Term,EstimatedEffectiveYield,BorrowerAPR,BorrowerRate,ProsperRating (numeric),ProsperScore,ListingCategory (numeric),EmploymentStatusDuration,StatedMonthlyIncome,MonthlyLoanPayment,Recommendations,DebtToIncomeRatio,LoanOriginalAmount,PercentFunded,Investors
count,113937.000000,84853.000000,113912.000000,113937.000000,84853.000000,84853.000000,113937.000000,106312.000000,1.139370e+05,113937.000000,113937.000000,105383.000000,113937.00000,113937.000000,113937.000000
mean,40.830248,0.168661,0.218828,0.192764,4.072243,5.950067,2.774209,96.071582,5.608026e+03,272.475783,0.048027,0.275947,8337.01385,0.998584,80.475228
std,10.436212,0.068467,0.080364,0.074818,1.673227,2.376501,3.996797,94.480605,7.478497e+03,192.697812,0.332353,0.551759,6245.80058,0.017919,103.239020
min,12.000000,-0.182700,0.006530,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1000.00000,0.700000,1.000000
25%,36.000000,0.115670,0.156290,0.134000,3.000000,4.000000,1.000000,26.000000,3.200333e+03,131.620000,0.000000,0.140000,4000.00000,1.000000,2.000000
50%,36.000000,0.161500,0.209760,0.184000,4.000000,6.000000,1.000000,67.000000,4.666667e+03,217.740000,0.000000,0.220000,6500.00000,1.000000,44.000000
75%,36.000000,0.224300,0.283810,0.250000,5.000000,8.000000,3.000000,137.000000,6.825000e+03,371.580000,0.000000,0.320000,12000.00000,1.000000,115.000000
max,60.000000,0.319900,0.512290,0.497500,7.000000,11.000000,20.000000,755.000000,1.750003e+06,2251.510000,39.000000,10.010000,35000.00000,1.012500,1189.000000

In [136]:
df_loan.isnull().sum()

Term                             0
LoanStatus                       0
EstimatedEffectiveYield      29084
BorrowerAPR                     25
BorrowerRate                     0
ProsperRating (numeric)      29084
ProsperRating (Alpha)        29084
ProsperScore                 29084
ListingCategory (numeric)        0
EmploymentStatus              2255
Occupation                    3588
EmploymentStatusDuration      7625
IsBorrowerHomeowner              0
IncomeVerifiable                 0
StatedMonthlyIncome              0
MonthlyLoanPayment               0
Recommendations                  0
DebtToIncomeRatio             8554
LoanOriginalAmount               0
PercentFunded                    0
IncomeRange                      0
Investors                        0
BorrowerState                 5515
dtype: int64

.

### Data Wrangling

Define 
>There are  null values in our datasets

> We cannot work with large amounts of null values in our dataset, wo we would drop them

Code

In [137]:
df_loan = df_loan.dropna()

Test

> Test there are no more null values
>> If there are no more null values, the code below should output zero

In [138]:
df_loan.isnull().all().sum()

0

> Now let's check if our dataset contain deuplicate values
>> If there are no duplicates, the code below should output zero

In [139]:
df_loan.duplicated().sum()

0

Define
> There is inappropriate naming of some of the features, we would have to rename them

Code

In [140]:
columns_to_rename ={'ProsperRating (Alpha)': 'prosperAlphaRating', 
                        'ProsperRating (numeric)': 'prosperNumericRating',
                        'ListingCategory (numeric)' : 'listingCategoryNumeric'
                       }

In [141]:
df_loan = df_loan.rename(columns=columns_to_rename)

Test

In [142]:
old_cols = ['ProsperRating (Alpha)','ProsperRating (numeric)','ListingCategory (numeric)']
for i in old_cols:
    assert i not in df_loan.columns.to_list()
    print(i + 'does not exist')

ProsperRating (Alpha)does not exist
ProsperRating (numeric)does not exist
ListingCategory (numeric)does not exist

> We also need to make all our column names lowercase and separated by _

In [143]:
# lower case all variable names
df_loan.columns = df_loan.columns.str.replace('[\W]', '')\
          .str.replace('(?<!^)([A-Z])', r'_\1')\
          .str.lower()

> Confirm all our columns are well formatted

In [144]:
df_loan.columns

Index(['term', 'loan_status', 'estimated_effective_yield', 'borrower_a_p_r',
       'borrower_rate', 'prosper_numeric_rating', 'prosper_alpha_rating',
       'prosper_score', 'listing_category_numeric', 'employment_status',
       'occupation', 'employment_status_duration', 'is_borrower_homeowner',
       'income_verifiable', 'stated_monthly_income', 'monthly_loan_payment',
       'recommendations', 'debt_to_income_ratio', 'loan_original_amount',
       'percent_funded', 'income_range', 'investors', 'borrower_state'],
      dtype='object')

> Let's check our data types
>> We need to be sure our features have the correct data types

In [146]:
df_loan.dtypes

term                            int64
loan_status                    object
estimated_effective_yield     float64
borrower_a_p_r                float64
borrower_rate                 float64
prosper_numeric_rating        float64
prosper_alpha_rating           object
prosper_score                 float64
listing_category_numeric        int64
employment_status              object
occupation                     object
employment_status_duration    float64
is_borrower_homeowner            bool
income_verifiable                bool
stated_monthly_income         float64
monthly_loan_payment          float64
recommendations                 int64
debt_to_income_ratio          float64
loan_original_amount            int64
percent_funded                float64
income_range                   object
investors                       int64
borrower_state                 object
dtype: object

> From the document that contains our varaible description, term should be treated a  asa categorialc variable

> We have to convert term to catgoricla datatype so we can construct visuals like bar chart/count plot on it

In [147]:
#convert term to  categorical variable
df_loan.term = df_loan.term.astype('category')

In [148]:
df_loan.dtypes

term                          category
loan_status                     object
estimated_effective_yield      float64
borrower_a_p_r                 float64
borrower_rate                  float64
prosper_numeric_rating         float64
prosper_alpha_rating            object
prosper_score                  float64
listing_category_numeric         int64
employment_status               object
occupation                      object
employment_status_duration     float64
is_borrower_homeowner             bool
income_verifiable                 bool
stated_monthly_income          float64
monthly_loan_payment           float64
recommendations                  int64
debt_to_income_ratio           float64
loan_original_amount             int64
percent_funded                 float64
income_range                    object
investors                        int64
borrower_state                  object
dtype: object

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!